.add-user {
  display: flex;

}

button {
  background-color: #0066ff;
  padding: 15px 15px;
  color: #fff;
  border: 0;
  font-size: 17px;
}

button:hover {
  outline: 0;
  background-color: #003399;
  cursor: pointer;
}

input {
  font-size: 17px;
  line-height: 42px;
  border: 0;
  margin-right: 10px;
  width: 200px;
}

::placeholder {
  color: grey;
  padding-left: 10px;
}