li {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 15px 0;
  padding: 15px 10px;
  width: 245px;
  position: relative;
}

li:hover {
  background-color: pink;
}

.close-icon {
  position: absolute;
  right: 10px;
  font-weight: bold;
}

.close-icon:hover {
  color: red;
  cursor: pointer;
}